<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100557735058-d9c4v78f89p0rluof7udarpi89if8hps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100557735058-d9c4v78f89p0rluof7udarpi89if8hps</string>
	<key>API_KEY</key>
	<string>AIzaSyBzoFGdadCv8bOFzE5maeNt-0IOzFg7okc</string>
	<key>GCM_SENDER_ID</key>
	<string>100557735058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-one-921b3</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-one-921b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100557735058:ios:390b371c01cbb8d374d24b</string>
</dict>
</plist>